<div class="app-card" id="editItemsSection">
    <h2>Edit Shopping Items</h2>

    <textarea class="edit-items-box" name="items" form="saveItemsForm">{{ raw_items }}</textarea>

    <div class="actions-grid">
        <form id="saveItemsForm" method="POST" action="/save" onsubmit="saveScroll()">
            <button class="save-btn">Save List</button>
        </form>

        <form method="POST" action="/clear" onsubmit="saveScroll()">
            <button class="clear-btn" type="submit">Clear List</button>
        </form>
    </div>
</div>
