/* General styles */
body {
	overflow-y: scroll;
	background: white;
	width: 900px;
	margin: 0 auto;
	display: block;
}

.mainframe {
	max-width: 1020px;
	margin-top: 50px;
	margin-left: 50px;
}

.privacy {
	display: none;
	max-width: 560px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 18px #2632381A;
	border: 1px solid #C7C7C7;
	border-radius: 6px 6px 6px 6px;
	padding: 20px;
	opacity: 1;
	letter-spacing: 0px;
	text-align: left;
}

.privacy img {
	margin: 0 0 16px 0;
	max-width:450px;
}

.privacy h4 {
	margin: 20px 0 16px 0;
	text-transform: capitalize;
}

.privacy hr {
	height: 1px;
	border: none;
	margin: 0 -20px 0 -20px;
	background: #C7C7C7 0% 0% no-repeat padding-box;
}

.privacy .withverticalspace {
	margin-top: 80px;
}

.privacy .transparentButton {
	color: #005799;
	background: transparent;
}

.transparentButton:hover,
.transparentButton:focus {
	color: #00457A;
}

.privacy .buttonsDiv {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 16px 12px 0 12px;
}

.privacy .bkRed {
	color:white;
	background: #A70000 0% 0% no-repeat padding-box;
}

.options {
	display: none;
}

.options h3 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 50px;
}

.options img {
	max-width: 450px;
	height: auto;
}


/* Index tab */
a:hover {
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	color: red;
}

.forDebug, .forDebug * {
	color: gray;
}
.standaloneExperimentalHeadline {
	display:none;
	margin-top:30px;
}
.standaloneExperimental {
	display:none;
}
.piiLearnMore {
	display:block;
	margin-left:25px;
	font-size:12px;
	cursor:pointer;
	text-decoration:none;
}
.options .integratedDiv {
	display:flex;
	flex-direction:row;
	align-items:center;
	border: #FF9A22;
	border-style: solid;
	background: #FFF1D1;
	border-width: 2px;
	padding: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 20px 0px;
	font-size:16px;
}

.options#settingsIntegrated hr{
	margin: 30px 0 30px 0;
}

.integratedDiv > .yield {
	height: 16px;
	margin-right: 10px;
}

.integratedSettingsHeadline{
	font-size:16px;
}

.integratedSettings, .integratedExperimental{
	margin: 20px 10px 10px 0px;
}

.integratedSettings > .subSettings {
	margin: 0px 0px 0px 13px;
}

.integratedSettings #refreshNote {
	margin-top:40px;
}

.integratedExperimentalHeadline {
	display: none;
	font-size: 16px;
	margin-top: 30px;
}
.integratedExperimental {
	display: none;
}

.integratedHowTo {
	margin: 30px 10px 10px 0px;
}

.options table {
	border-collapse: collapse;
}

.options tr.blankRow {
	height: 30px;
}

.options td:nth-child(2) {
	text-align: right;
	padding-right: 0;
}

.options th {
	text-align: left;
	font-weight: normal;
	margin-top: 50px;
	padding-left: 0;
	padding-right: 50px;
}

.options td {
	padding-left: 0;
	padding-right: 50px;
}

.options .keycodevalue {
	text-transform: uppercase;
}

.options .newkeycodeinput {
	height: 36px;
	padding: 0;
	padding-left: 10px;
	border:1px solid #E7E8EA;
	font-size: 13px;
	font-weight: 100;
	box-sizing: border-box;
	text-transform: uppercase;
	width: 220px;
	text-align: left;
}

.options .subscriptiontext {
	min-height: 30px;
}

.options #notification {
	visibility: hidden;
}

.options #notificationtext {
	padding-top: 20px;
	max-width: 100px;
	min-height: 150px;
}

.options #keycodevalidator {
	visibility: hidden;
	margin: 5px 0 5px 120px;
	font-size: 12px;
	color: #DB3030;
}

.options #keycodevalidatoricon {
	height: 14px;
	vertical-align:middle;
}

.options #needhelplink, #purchasebutton {
	color: #0058DB;
	text-decoration: none;
	cursor: pointer;
}

.options #needhelplink {
	display: block;
	margin-left: 120px;
	font-size: 12px;
}

.options #validateOk {
	margin-top: 20px;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.5);
	overflow-x: hidden;
	cursor: wait;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	margin: auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	cursor: wait;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*Override bright mode styles when dark mode is enabled*/
@media (prefers-color-scheme: dark) {

	body, .privacy {
		background: #0B1328;
		color: #ffffff;
	}

	.integratedDiv {
		color: #0B1328;
	}

	#howtoModify, #howtoUninstall, #privacyDesciption3 > a, #eulatext > a, .transparentButton, .options #needhelplink, #purchasebutton {
		color: #73D0FF !important;
	}
}
