{% macro svg_icon(name) -%}
<svg class="app-icon-svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
    {% if name == "home" %}
        <path d="M3 10.8 12 3l9 7.8"></path>
        <path d="M5.5 9.5V21h13V9.5"></path>
        <path d="M9.5 21v-6h5v6"></path>
    {% elif name == "recipes" %}
        <path d="M5 4.5h5.2A3.8 3.8 0 0 1 14 8.3V20H8.4A3.4 3.4 0 0 0 5 16.6Z"></path>
        <path d="M19 4.5h-5.2A3.8 3.8 0 0 0 10 8.3V20h5.6a3.4 3.4 0 0 1 3.4-3.4Z"></path>
    {% elif name == "menus" %}
        <path d="M6 5h12"></path>
        <path d="M6 12h12"></path>
        <path d="M6 19h12"></path>
        <path d="M3.8 5h.1"></path>
        <path d="M3.8 12h.1"></path>
        <path d="M3.8 19h.1"></path>
    {% elif name == "cookbooks" %}
        <path d="M6 4.5h9.5A2.5 2.5 0 0 1 18 7v12.5H8A2.5 2.5 0 0 1 5.5 17V5A.5.5 0 0 1 6 4.5Z"></path>
        <path d="M8 4.5v15"></path>
        <path d="M18 7.5H9.5"></path>
    {% elif name == "shopping" %}
        <path d="M4 5h2l2.2 9.5h8.9l2-6.5H7.4"></path>
        <path d="M9 19.5h.1"></path>
        <path d="M17 19.5h.1"></path>
    {% elif name == "pantry" %}
        <path d="M6.5 7.5h11l-1 13h-9Z"></path>
        <path d="M8.5 7.5V5.8A2.8 2.8 0 0 1 11.3 3h1.4a2.8 2.8 0 0 1 2.8 2.8v1.7"></path>
        <path d="M9 12h6"></path>
    {% elif name == "meal" %}
        <rect x="4" y="5.5" width="16" height="14.5" rx="1.8"></rect>
        <path d="M8 3.5v4"></path>
        <path d="M16 3.5v4"></path>
        <path d="M4 9.5h16"></path>
        <path d="M8 13h3"></path>
    {% elif name == "stores" %}
        <path d="M4 10h16l-1.2-5H5.2Z"></path>
        <path d="M5.5 10v10h13V10"></path>
        <path d="M9 20v-6h6v6"></path>
    {% elif name == "price" %}
        <circle cx="10.5" cy="10.5" r="5.5"></circle>
        <path d="m15 15 4.5 4.5"></path>
        <path d="M9 8.5h3"></path>
        <path d="M9 12.5h3"></path>
    {% elif name == "import" %}
        <path d="M12 3v12"></path>
        <path d="m7.5 10.5 4.5 4.5 4.5-4.5"></path>
        <path d="M5 19.5h14"></path>
    {% elif name == "link" %}
        <path d="M9.5 14.5 14.5 9.5"></path>
        <path d="M8 10.5 6.5 12a3.2 3.2 0 1 0 4.5 4.5l1.5-1.5"></path>
        <path d="m11.5 9 1.5-1.5A3.2 3.2 0 1 1 17.5 12L16 13.5"></path>
    {% elif name == "document" %}
        <path d="M6.5 3.5h7l4 4V20.5h-11Z"></path>
        <path d="M13.5 3.5v4h4"></path>
        <path d="M9 12h6"></path>
        <path d="M9 16h4"></path>
    {% elif name == "eye" %}
        <path d="M2.5 12s3.5-6 9.5-6 9.5 6 9.5 6-3.5 6-9.5 6-9.5-6-9.5-6Z"></path>
        <circle cx="12" cy="12" r="2.8"></circle>
    {% elif name == "check" %}
        <path d="m5 12 4.2 4.2L19 6.5"></path>
    {% elif name == "star" %}
        <path d="m12 3 2.8 5.7 6.2.9-4.5 4.4 1.1 6.2-5.6-3-5.6 3 1.1-6.2L3 9.6l6.2-.9Z"></path>
    {% elif name == "cloud-upload" %}
        <path d="M7 18H5.8A3.8 3.8 0 0 1 5 10.5 6 6 0 0 1 16.4 8a4.5 4.5 0 0 1 .6 9H15"></path>
        <path d="M12 20V12"></path>
        <path d="m8.8 15.2 3.2-3.2 3.2 3.2"></path>
    {% elif name == "download" %}
        <path d="M12 3v12"></path>
        <path d="m7.5 10.5 4.5 4.5 4.5-4.5"></path>
        <path d="M5 20h14"></path>
    {% elif name == "external-link" %}
        <path d="M14 4h6v6"></path>
        <path d="m20 4-9 9"></path>
        <path d="M18 13v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6"></path>
    {% elif name == "chevron-up" %}
        <path d="m5 15 7-7 7 7"></path>
    {% elif name == "chevron-down" %}
        <path d="m5 9 7 7 7-7"></path>
    {% elif name == "utensils" %}
        <path d="M7 3v8"></path><path d="M4 3v5a3 3 0 0 0 6 0V3"></path><path d="M7 11v10"></path>
        <path d="M16 3c3 2 3 7 0 9v9"></path><path d="M16 3v9h3"></path>
    {% elif name == "cooking-pot" %}
        <path d="M5 9h14l-1 10H6Z"></path><path d="M8 9V6h8v3"></path><path d="M9 4h6"></path>
    {% elif name == "timer" %}
        <circle cx="12" cy="13" r="7"></circle><path d="M12 9v4"></path><path d="M9 3h6"></path><path d="M12 3v3"></path>
    {% elif name == "x" %}
        <path d="m6 6 12 12"></path><path d="m18 6-12 12"></path>
    {% elif name == "image" %}
        <path d="M5 7.5h3l1.3-2h5.4l1.3 2h3V19H5Z"></path>
        <circle cx="12" cy="13" r="3.2"></circle>
    {% elif name == "barcode" %}
        <path d="M4 5v14"></path>
        <path d="M7 5v14"></path>
        <path d="M11 5v14"></path>
        <path d="M14 5v14"></path>
        <path d="M20 5v14"></path>
    {% elif name == "settings" %}
        <circle cx="12" cy="12" r="3"></circle>
        <path d="M12 3v2.5"></path>
        <path d="M12 18.5V21"></path>
        <path d="m4.2 7 2.2 1.2"></path>
        <path d="m17.6 15.8 2.2 1.2"></path>
        <path d="m19.8 7-2.2 1.2"></path>
        <path d="m6.4 15.8-2.2 1.2"></path>
    {% elif name == "billing" %}
        <path d="M4 6.5h16v11H4Z"></path>
        <path d="M4 10h16"></path>
        <path d="M7 14.5h4"></path>
    {% elif name == "help" %}
        <circle cx="12" cy="12" r="9"></circle>
        <path d="M9.8 9a2.4 2.4 0 0 1 4.5 1.2c0 1.8-2.3 2.1-2.3 3.8"></path>
        <path d="M12 17.5h.1"></path>
    {% elif name == "bell" %}
        <path d="M6.5 17h11l-1.2-1.8V10a4.3 4.3 0 0 0-8.6 0v5.2Z"></path>
        <path d="M10 19.5a2.3 2.3 0 0 0 4 0"></path>
    {% elif name == "user" %}
        <circle cx="12" cy="8.5" r="3.5"></circle>
        <path d="M5.5 20a6.5 6.5 0 0 1 13 0"></path>
    {% elif name == "plus" %}
        <path d="M12 5v14"></path>
        <path d="M5 12h14"></path>
    {% elif name == "more" %}
        <path d="M5 12h.1"></path>
        <path d="M12 12h.1"></path>
        <path d="M19 12h.1"></path>
    {% elif name == "search" %}
        <circle cx="10.5" cy="10.5" r="5.5"></circle>
        <path d="m15 15 4.5 4.5"></path>
    {% elif name == "heart" %}
        <path d="M20.8 8.8c0 5.2-8.8 10.4-8.8 10.4S3.2 14 3.2 8.8A4.6 4.6 0 0 1 12 6.9a4.6 4.6 0 0 1 8.8 1.9Z"></path>
    {% elif name == "filter" %}
        <path d="M4 5h16l-6.2 7.1v5.3L10.2 19v-6.9Z"></path>
    {% elif name == "sort" %}
        <path d="M8 4v16"></path>
        <path d="m4.8 7.2 3.2-3.2 3.2 3.2"></path>
        <path d="M16 20V4"></path>
        <path d="m12.8 16.8 3.2 3.2 3.2-3.2"></path>
    {% elif name == "grid" %}
        <path d="M4 4h6v6H4Z"></path>
        <path d="M14 4h6v6h-6Z"></path>
        <path d="M4 14h6v6H4Z"></path>
        <path d="M14 14h6v6h-6Z"></path>
    {% elif name == "clock" %}
        <circle cx="12" cy="12" r="8.5"></circle>
        <path d="M12 7.5V12l3 2"></path>
    {% elif name == "sparkles" %}
        <path d="M8.5 3.5c.6 3.2 2.1 4.7 5.3 5.3-3.2.6-4.7 2.1-5.3 5.3-.6-3.2-2.1-4.7-5.3-5.3 3.2-.6 4.7-2.1 5.3-5.3Z"></path>
        <path d="M17.5 13.2c.4 2 1.3 2.9 3.3 3.3-2 .4-2.9 1.3-3.3 3.3-.4-2-1.3-2.9-3.3-3.3 2-.4 2.9-1.3 3.3-3.3Z"></path>
    {% else %}
        <circle cx="12" cy="12" r="8"></circle>
    {% endif %}
</svg>
{%- endmacro %}

{% macro app_icon(name) -%}
<span class="app-nav-icon app-nav-icon-{{ name }}" aria-hidden="true">{{ svg_icon(name) }}</span>
{%- endmacro %}

{% macro brand_mark() -%}
<span class="app-brand-mark" aria-hidden="true">
    <svg viewBox="0 0 134 147" aria-hidden="true" focusable="false">
        <path d="M40 64.5C25.2 64.2 14 54.6 14 42.3 14 30.4 24.1 21 37 21 42.8 11.5 53.8 6 66.7 6 80.8 6 92.2 14 96 25.4c13.9.1 25 9.3 25 21.8 0 12.1-10.2 21.8-23.1 22.5"></path>
        <path d="M39.4 62.5 44 106.5c.7 6.4 4.2 9.5 10.8 9.5h36.4c6.7 0 10.1-3.1 10.9-9.5l4-28.2H120"></path>
        <path d="M53 94.3h38"></path>
        <path d="m53.2 64.4 12.2 10.5 18-18.7"></path>
        <circle cx="52.2" cy="133.2" r="6"></circle>
        <circle cx="87.4" cy="133.2" r="6"></circle>
    </svg>
</span>
{%- endmacro %}
