@import url('/helper_scripts/fonts.css');

div.WebrootDiv {
	display:inline-block;
	margin-right:3px;
	vertical-align:text-bottom;
}
div.WebrootDiv > img {
	height:20px;
	width:auto;
	vertical-align:text-bottom;
}
.WebrootSRAPopup {
	visibility:hidden;
	display:inline;
	position:absolute;
	border-radius:5px;
	max-width:650px;
	white-space:normal;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	font-weight:normal;
	z-index:129;
	border:2px solid;
	padding:7px 10px 6px 10px;
}
.WebrootSRAPopup > pre {
	text-align:left;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	font-weight:normal;
	line-height:14.4px;
}
.WebrootSRAPopup pre.webrootlogotitle {
	font-weight:bolder;
	display:inline;
	margin:0px;
}
.WebrootSRAPopup pre.webrootlogotitle img {
	display:inherit;
	height:12px;
}
.WebrootSRAPopup pre.webrootlogobody {
	margin:5px 0px 0px 0px;
}
#WebrootDivSpan.green {
	background-color:#e9f7e9;
	border-color:#408740;
	color:#54565b;
}
#WebrootDivSpan.yellow {
	background-color:#fff1d1;
	border-color:#ff9a22;
	color:#54565b;
}
#WebrootDivSpan.red {
	background-color:#fce8e8;
	border-color:#a70000;
	color:#54565b;
} 
